<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="GrantDataFilePath" value="C:\datasets\GrantsDBExtract20180528v2.xml"/>
    <add key="ProgramDataFilePath" value="C:\datasets\programs-full-datagov.csv"/>
    <add key="ColoradoBusinessDataFilePath" value="C:\datasets\Business_Entities_in_Colorado.csv"/>
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BusinessIncentivesContext" connectionString="metadata=res://*/Models.BusinessIncentivesModel.csdl|res://*/Models.BusinessIncentivesModel.ssdl|res://*/Models.BusinessIncentivesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=BusinessIncentives;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BusinessIncentivesConnectionString" connectionString="Data Source=(local);Initial Catalog=BusinessIncentives;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
  </connectionStrings>
</configuration>